In [3]:
import pandas as pd
df_train = pd.read_csv("./data/train_clean_v03.csv", index_col='id')
# train_ids = df_train['id']
print(f"shape of base data with spillovers fixed and duplicates removed: {df_train.shape}")
df_train_class0 = df_train.loc[df_train['target'] == 0, ['text', 'target']]
df_train_class1 = df_train.loc[df_train['target'] == 1, ['text', 'target']]
print(f"shape of same base data with target == 0: {df_train_class0.shape}")
print(f"shape of same base data with target == 1: {df_train_class1.shape}")

shape of base data with spillovers fixed and duplicates removed: (7485, 4)
shape of same base data with target == 0: (4297, 2)
shape of same base data with target == 1: (3188, 2)

In [8]:
import projtools as pt

# commented out to avoid overwriting after manual labeling
# df_class0_after_sampling = pt.get_random_samples(df_train_class0, "class0_sample_")
# df_class1_after_sampling = pt.get_random_samples(df_train_class1, "class1_sample_")

In [33]:
import os
samples_path = './data/label_errors_in_train_data'
sample_files = [f for f in os.listdir(samples_path)]  # only files in this dir, so no need to test
print(sample_files)
print(sample_files[0])

['class0_sample_01.csv', 'class0_sample_02.csv', 'class0_sample_03.csv', 'class0_sample_04.csv', 'class0_sample_05.csv', 'class0_sample_06.csv', 'class0_sample_07.csv', 'class0_sample_08.csv', 'class0_sample_09.csv', 'class0_sample_10.csv', 'class0_sample_11.csv', 'class0_sample_12.csv', 'class0_sample_13.csv', 'class0_sample_14.csv', 'class0_sample_15.csv', 'class0_sample_16.csv', 'class0_sample_17.csv', 'class0_sample_18.csv', 'class0_sample_19.csv', 'class0_sample_20.csv', 'class1_sample_01.csv', 'class1_sample_02.csv', 'class1_sample_03.csv', 'class1_sample_04.csv', 'class1_sample_05.csv', 'class1_sample_06.csv', 'class1_sample_07.csv', 'class1_sample_08.csv', 'class1_sample_09.csv', 'class1_sample_10.csv', 'class1_sample_11.csv', 'class1_sample_12.csv', 'class1_sample_13.csv', 'class1_sample_14.csv', 'class1_sample_15.csv', 'class1_sample_16.csv', 'class1_sample_17.csv', 'class1_sample_18.csv', 'class1_sample_19.csv', 'class1_sample_20.csv']
class0_sample_01.csv

In [61]:
sample_summary = {'sample': [], 'target': [],
                  'count_q0': [], 'count_q1': [], 'count_q2': []}
for sample_file in sample_files:
    target_class = int(sample_file[5])  # same as target field
    sample_number = int(sample_file[14:16])
    sample_summary['sample'].append(sample_number)
    sample_summary['target'].append(target_class)
    file_path = samples_path + "/" + sample_file
    # print(target_class, sample_number, file_path)
    df = pd.read_csv(file_path, index_col='id')
    # https://stackoverflow.com/questions/59465827/include-zeros-in-value-counts-pandas-categorial-data#59465870
    categories = [0, 1, 2]
    q_label_counts = (df['questionable_label'].value_counts()).reindex(categories[::-1], fill_value=0)
    # print(f"q_label_counts[0]: {q_label_counts[0]}, q_label_counts[1]: {q_label_counts[1]}, q_label_counts[2]: {q_label_counts[2]},")
    sample_summary['count_q0'].append(q_label_counts[0])
    sample_summary['count_q1'].append(q_label_counts[1])
    sample_summary['count_q2'].append(q_label_counts[2])

# print(sample_summary)

In [63]:
df_summary = pd.DataFrame(sample_summary)
df_summary.to_csv('./data/label_errors_in_train_data/df_label_error_summary.csv')
df_summary

    sample  target  count_q0  count_q1  count_q2
0        1       0        16         1         3
1        2       0        20         0         0
2        3       0        20         0         0
3        4       0        19         0         1
4        5       0        16         1         3
5        6       0        20         0         0
6        7       0        20         0         0
7        8       0        20         0         0
8        9       0        20         0         0
9       10       0        20         0         0
10      11       0        20         0         0
11      12       0        20         0         0
12      13       0        20         0         0
13      14       0        20         0         0
14      15       0        20         0         0
15      16       0        20         0         0
16      17       0        20         0         0
17      18       0        20         0         0
18      19       0        20         0         0
19      20       0        20         0         0
20       1       1        13         5         2
21       2       1        11         3         6
22       3       1        15         1         4
23       4       1        14         6         0
24       5       1        11         7         2
25       6       1        18         2         0
26       7       1        10         7         3
27       8       1        12         5         3
28       9       1        15         3         2
29      10       1        14         6         0
30      11       1        12         6         2
31      12       1        16         3         1
32      13       1        13         4         3
33      14       1        10         8         2
34      15       1        15         5         0
35      16       1        14         4         2
36      17       1        14         3         3
37      18       1        13         5         2
38      19       1        14         5         1
39      20       1         9         9         2

In [53]:
file_path = './data/label_errors_in_train_data/class0_sample_02.csv'
df = pd.read_csv(file_path, index_col='id')
q_label_counts = df['questionable_label'].value_counts()
print(q_label_counts)

questionable_label
0    20
Name: count, dtype: int64

In [ ]:
print(type(df['questionable_label'].value_counts()))
q_label_counts = df['questionable_label'].value_counts()
print(q_label_counts)
print(q_label_counts.shape)
print(q_label_counts[0], q_label_counts[1], q_label_counts[2])