In [1]:
import pandas as pd
data = {
    "name": ["John", "Ted", "Dev", "Brad", "Rex", "Smith", "Samuel", "David"],
    "salary": [10000, 20000, 50000, 45500, 19800, 95000, 5000, 50000],
    "management": [1, 0, 1, 0, 1, 0, 1, 0]}

# create dataframe from data dictionary
df = pd.DataFrame(data) # print the dataframe display(df.head())
df

     name  salary  management
0    John   10000           1
1     Ted   20000           0
2     Dev   50000           1
3    Brad   45500           0
4     Rex   19800           1
5   Smith   95000           0
6  Samuel    5000           1
7   David   50000           0

In [2]:
for index, row in df.iterrows():
    print(f"{index},{row['name']},{row['salary']},{row['management']}")

0,John,10000,1
1,Ted,20000,0
2,Dev,50000,1
3,Brad,45500,0
4,Rex,19800,1
5,Smith,95000,0
6,Samuel,5000,1
7,David,50000,0

In [3]:
# import projtool as pt

df_prompt_data = pd.read_csv("./data/prompt_log.csv")
df_prompt_data

,date,prompt_component,class,content,notes
0,2024-02-26,prompt_prefix,0,"Write me a tweet similar to this one, under 14...",initial class 0 prompt used in web interface
1,2024-02-26,prompt_prefix,1,"Write me a tweet similar to this one, under 14...",initial class 1 prompt used in web interface
2,2024-02-27,context,2,You are a fiction writer who has observed a di...,initial context used sending API requests from...
3,2024-02-27,prompt_prefix,0,"Write me a tweet similar to this one, under 14...",avoid having to expand contractions on generat...
4,2024-02-27,prompt_prefix,1,"Write me a tweet similar to this one, under 14...",avoid having to expand contractions on generat...
5,2024-02-29,prompt_prefix,0,"Write me a tweet similar to this one, under 14...",fix issue with generated tweet quoting
6,2024-02-29,prompt_prefix,1,"Write me a tweet similar to this one, under 14...",fix issue with generated tweet quoting

In [4]:
max_context_date = df_prompt_data.loc[df_prompt_data['prompt_component'] == 'context', 'date'].max()
max_prefix_c0_date = df_prompt_data.loc[(df_prompt_data['prompt_component'] == 'prompt_prefix') & \
                                        (df_prompt_data['class'] == 0), 'date'].max()
max_prefix_c1_date = df_prompt_data.loc[(df_prompt_data['prompt_component'] == 'prompt_prefix') & \
                                        (df_prompt_data['class'] == 1), 'date'].max()
print(max_context_date, max_prefix_c0_date, max_prefix_c1_date)

max_context = df_prompt_data.loc[(df_prompt_data['prompt_component'] == 'context') & \
                                 (df_prompt_data['date'] == max_context_date), 'content'].values[0]
print(max_context)

2024-02-27 2024-02-29 2024-02-29
You are a fiction writer who has observed a disaster and likes to tweet.

In [5]:
import projtools as pt

prompt_dict = pt.get_prompt_setup()
print(prompt_dict)

{'context': {'date': '2024-02-27', 'text': 'You are a fiction writer who has observed a disaster and likes to tweet.'}, 'prefix_class0': {'date': '2024-02-29', 'text': 'Write me a tweet similar to this one, under 141 characters, does not contain contractions or double quotes, but refers to a different activity and location: '}, 'prefix_class1': {'date': '2024-02-29', 'text': 'Write me a tweet similar to this one, under 141 characters, does not contain contractions or double quotes, but refers to a different disaster and location: '}}

In [10]:
pd.set_option('display.max_colwidth', None)
print(prompt_dict['context']['text'])

You are a fiction writer who has observed a disaster and likes to tweet.

In [6]:
print(prompt_dict['prefix_class0'])

{'date': '2024-02-29', 'text': 'Write me a tweet similar to this one, under 141 characters, does not contain contractions or double quotes, but refers to a different activity and location: '}

In [7]:
print(prompt_dict['prefix_class1'])

{'date': '2024-02-29', 'text': 'Write me a tweet similar to this one, under 141 characters, does not contain contractions or double quotes, but refers to a different disaster and location: '}

In [8]:
print(prompt_dict['prefix_class1']['text'])

Write me a tweet similar to this one, under 141 characters, does not contain contractions or double quotes, but refers to a different disaster and location:

In [4]:
from sklearn.utils.random import sample_without_replacement

# what happens if I sample multiple times w/o replacement?
print(sample_without_replacement(20, 5, random_state=42))
print(sample_without_replacement(20, 5, random_state=42))
print(sample_without_replacement(20, 5, random_state=42))
print(sample_without_replacement(20, 5, random_state=42))

[ 0 17 15  1  8]
[ 0 17 15  1  8]
[ 0 17 15  1  8]
[ 0 17 15  1  8]

In [1]:
n = str(4)
n.zfill(3)

'004'

In [19]:
# play with regex to fix double quoting issue
import regex as re

test_strings = ['"this starts and ends with double quote"', 'this has no quotes',
                '"starts with dq, but does" not end with dq', 'ends with dq, "but does not start with dq"',
                'has dq, but dq "does not start" or end']

# pattern_start_end_dq = '^"(.*)$"'
pattern_start_end_dq = r'^(")([^"]*)(")$'
# patter_starts_dq = '^"(.*)
compiled_pattern = re.compile(pattern_start_end_dq)
match = compiled_pattern.match(test_strings[0])
print(match)
print(match.group(0))
print(match.group(1))
print(match.group(2))
print(match.group(3))

<regex.Match object; span=(0, 40), match='"this starts and ends with double quote"'>
"this starts and ends with double quote"
"
this starts and ends with double quote
"

In [21]:
# should not match 2nd string
match = compiled_pattern.match(test_strings[1])
if match is not None:
    print(match)
    print(match.group(0))
    print(match.group(1))
    print(match.group(2))
    print(match.group(3))

In [ ]:
def fix_double_quotes(my_string):
    # if string starts and ends with ", just return it
    pattern_start_end_dq = re.compile(r'^(")([^"]*)(")$')
    patter_starts_dq = '^"(.*)
    match_start_end_dq = pattern_start_end_dq.match(my_string)
    if match is not None:
        return_value = match_start_end_dq.group(0)